<app-menu title="CADASTRO DE FUNCIONALIDADES PARA OS SERVIÇOS"
  subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at hendrerit ligula augue.">
</app-menu>

<div class="feature-registration-component">
  <div class="pt-4 pl-5 pr-5 pb-5">
    <div class="title my-5">
      Selecione quais serviços abaixo você quer ter acesso, caso sinta falta de algum, faça o upload no campo mais
      abaixo da tela.
    </div>
    <app-available-services></app-available-services>
    <app-service-upload></app-service-upload>
    <div class="row mt-5">
      <div class="col">
        <div class="alert alert-warning alert-dismissible fade show w-80" role="alert">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus pharetra condimentum. Pellentesque eu
          fringilla risus. Suspendisse egestas pulvinar nisi.
        </div>
      </div>
      <div class="col">
        <div class="d-flex justify-content-end mt-4">
          <button class="btn btn-outline-secondary mr-3">Cancelar</button>
          <button class="btn btn-primary">Confirmar cadastro</button>
        </div>
      </div>
    </div>
  </div>
</div>