<div class="container p-5">
  <div class="d-flex">
    <div class="login">
      <div class="container p-4">
        <form class="mx-3 mt-100">
          <h1 class="text-left">LOGIN</h1>
          <div class="form-row">
            <div class="form-group col px-2">
              <label class="text-left" for="login">Endereço de e-mail</label>
              <input type="email" class="form-control" id="login">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col px-2">
              <label class="text-left" for="password">Palavra-chave</label>
              <input type="password" class="form-control" id="password">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group pl-2">
              <span>Cadastrar novo usuário</span>
            </div>
          </div>
          <div class="mt-4">
            <button class="btn btn-primary d-block mx-auto">ENTRAR</button>
          </div>
        </form>
      </div>
    </div>
    <div class="background"></div>
  </div>
</div>