<app-menu title="CADASTRAMENTO DE USUÁRIO"
  subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at hendrerit ligula augue.">
</app-menu>

<div class="create-user-component">
  <div class="pt-4 pl-5 pr-5 pb-5">
    <div class="title my-5">
      Realize o cadastramento abaixo, selecione o perfil de usuario para a visualização dos
      serviços disponíveis.
    </div>
    <form>
      <div class="form-row">
        <div class="form-group col p-2">
          <label for="inputEmail4">Nome completo</label>
          <input type="email" class="form-control" id="name" placeholder="Nome Completo">
        </div>
        <div class="form-group col p-2">
          <label for="inputEmail4">CPF</label>
          <input type="email" class="form-control" id="document" placeholder="CPF">
        </div>
        <div class="form-group col p-2">
          <label for="inputEmail4">Perfil de usuário</label>
          <select type="email" class="form-control" id="inputEmail4" placeholder="Perfil de usuário">
            <option selected disabled>Selecione um perfil</option>
            <option>Analista</option>
            <option>Coordenador</option>
            <option>Auditor</option>
            <option>Operador</option>
            <option>Adminstrador</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4 p-2">
          <label for="inputEmail4">Senha</label>
          <input type="email" class="form-control" id="password" placeholder="Senha">
        </div>
        <div class="form-group col-4 p-2">
          <label for="inputEmail4">Confirmar senha</label>
          <input type="email" class="form-control" id="confirmPassword" placeholder="Confirmar senha">
        </div>
      </div>

      <span>Adicionar contribuintes</span>
      <hr>

      <div class="form-row">
        <div class="form-group col-4 p-2">
          <label for="inputEmail4">Link URL</label>
          <input type="email" class="form-control" id="linkURL" placeholder="Link URL">
        </div>
      </div>

      <div class="mt-4 form-row">
        <div class="col">
          <div class="alert alert-warning alert-dismissible fade show w-80" role="alert">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus pharetra condimentum. Pellentesque eu
            fringilla risus. Suspendisse egestas pulvinar nisi.
          </div>
        </div>
        <div class="col">
          <div class="d-flex justify-content-end mt-4">
            <button class="btn btn-outline-secondary mr-3">Cancelar</button>
            <button class="btn btn-primary">Confirmar cadastro</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>